/* your beautiful css styling goes here! */
.gameBoard {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvO1N0GivmM-8aWDTPqlLczdBHTCABQuEzHrzQJ8NFOHaurW95MA);
  background-size: cover;
}

.nav {
  display: inline-block;
  padding-bottom: 5px;
  text-align: center;
  padding-right: 10px;
  width: 100%;
  list-style: none;
  font-size: 20px;
}

.enemies {
  background-image: url(asteroid.png);
}
