/* your beautiful css styling goes here! */
.gameBoard {
  background-image: url(space.jpg);
  background-size: cover;
}

.nav {
  display: inline-block;
  padding-bottom: 5px;
  text-align: center;
  padding-right: 10px;
  width: 100%;
  list-style: none;
  font-size: 20px;
}

.enemies {
  background-image: url(asteroid.png);
}
